/CulinaryVertexBackend/.env
/CulinaryVertexBackend/.venv
/CulinaryVertexBackend/__pycache__
/CulinaryVertexFrontend/.env
/CulinaryVertexFrontend/node_modules
/CulinaryVertexFrontend/.next
/main.ipynb
/.vscode
/.idx
/.venv
/Finetuning.ipynb
/orders_train.txt
/paste.txt
/reservation_pairs.csv
/restaurant_orders.csv
/recommendations_train.txt
/recommendations.csv
/.DS_Store
/CulinaryVertexBackend/.DS_Store
/CulinaryVertexFrontend/.DS_Store